@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satoshi:ital,wght@0,400;0,500;0,700;1,700&display=swap");

.container {
  @apply m-auto max-w-screen-xl p-4
}

.text-container{
  display: flex;
  justify-content: center;
}

.mini-nav-card{
  text-align: center;
  border-radius: 25px;
  padding: 8px 15px;
  background: #1B1E26;
}

div.nav-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 25px;
  padding: 8px 30px;
}

.nav-bar-text{
  font-size: 16px;
  color: #414A5B;
  width: max-content;
}

.banner-text{
  font-size: 75px;
  font-weight: 600;
  width: 567px;
  line-height: 5rem; 
  color: #282D39;
}

.banner-sub-text{
  margin-top: 1rem;
  font-size: 25px;
  width: 567px;
  font-weight: 100;
  color: #282D39;
}

.vertical-hr {
  width: 1px;
  height: 25px;
  background-color: #fff;
}

.nav-items-margin{
  margin-left: 15%;
}

.footer-color{
  background-color: #F9FBFC;
  border-radius: 45px 45px 0 0;
}

.home-banner{
  background-color: #F8F9FC;
  height: 750px;
}

.nav-bg-custom{
  background-color: #F8F9FC;
}

.share-earn-banner {
  background-image: url("assets/referral-share-earn.png");
  border-radius: 1.5rem;
  height: auto;
  width: auto;
}

.faq {
  display: flex;
  width: 100%;
  padding: 6.25rem 33.9375rem 7.5rem 33,9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 2rem;
  background: #F9FBFC;
  margin-bottom: 8rem;
}

.faq-items {
  border-radius: 16px;
  background: #FFF;
  /* Light shadow 3 */
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
=======
.banner-card{
  width: 400px;
  height: 260px;
  background-color: #F9FBFC;
  border-radius: 15px;
  padding: 1.5rem;
}

.banner-card-icon{
  width: 64px;
  height: 64px;
}

.banner-card-heading{
  font-size: 32px;
  font-weight: 400;
  width: 222px;
  line-height: 40px;
}

.banner-card-heading-sub{
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 100;
  width: 242px;
  line-height: 20px;
}

.gradient-text{
  font-size: 80px;
  line-height: 1;
}

.d-bg{
  background-image: url('./assets/most_popular_network.png');
  background-size: contain;
  background-size: contain;
  height: 480px;
  padding: 4rem;
  margin-top: 5rem ;
  width: 100%;
  background-repeat: no-repeat;
}

.popular-network-text-header{
  font-weight: 400;
  font-size: 64px;
  width: 555px;
  line-height: 1
}

.popular-network-text-sub{
  font-weight: 200;
  font-size: 18px;
  width: 455px;
  line-height: 1.5;
}

.corner-image {
  position: absolute;
  bottom: -5rem;
  right: 0;
}

.most-popular-card-image{
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 3rem;
  max-height: 100%;
}

.most-popular-card{
  width: 580px;
  height: 410px;
  background-color: #F5F8FA;
  border-radius: 2.5rem;
}

.popular-card-text{
  width: 25.25rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.625rem;
}

.popular-card-text-sub{
  font-size: 1rem;
  color: #838B9D;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.share-section{
  display: grid;
  justify-content: center;
  width: 90%;
  height: 36.25rem;
  flex-shrink: 0;
  /* background-color: #1B1E26; */
  background-image: radial-gradient(circle closest-side at 65% center, #079a6b, #1B1E26);

  border-radius: 2rem;
}

.center-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.share-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  background-color: #414A5B;
  border-radius: 2.5rem;
  width: 13rem;
}

.share-button-text{
  color: #FFF;
  /* font-family: Satoshi; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.sh-p-12{
  padding: 0 8rem;
}

.share-section-header{
  color: #D9F9F8;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
}

.share-section-sub{
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
  width: 34.6875rem;
}

.share-section-button-alt-tr{
  background: transparent !important;
  border: 1px solid #414A5B !important;
}

.share-section-button-alt{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 13.75rem;
  height: 3.5rem;
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.share-button-text-alt{
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}