@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satoshi:ital,wght@0,400;0,500;0,700;1,700&display=swap");

html{
  background: #fff;
}

body{
  margin: -1rem 0px !important;
}

.container {
  @apply m-auto max-w-screen-xl p-4
}

.close-button{
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: black;
}

.text-container{
  display: flex;
  justify-content: center;
}

.career-text-container{
  margin: 5rem auto;
  padding: 0 18rem;
  position: relative;
}

.mini-nav-card{
  text-align: center;
  border-radius: 25px;
  padding: 8px 15px;
  background: #1B1E26;
}

div.nav-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 25px;
  padding: 8px 30px;
}

.nav-bar-text-alt{
  color: #00B9C2 !important;
  font-weight: 500 !important;
}

.nav-bar-text{
  font-size: 16px;
  color: #414A5B;
  width: max-content;
}

.banner-text{
  font-size: 75px;
  font-weight: 600;
  width: 567px;
  line-height: 5rem; 
  color: #282D39;
}

.banner-sub-text{
  margin-top: 1rem;
  font-size: 25px;
  width: 567px;
  font-weight: 100;
  color: #282D39;
}

.custom-banner-video {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: transparent;
}


.vertical-hr {
  width: 1px;
  height: 25px;
  background-color: #fff;
}

.nav-items-margin{
  margin-left: 15%;
}

.footer-color{
  background-color: #F9FBFC;
  border-radius: 45px 45px 0 0;
}

.home-banner{
  background-color: #F8F9FC;
  height: 40rem;
}

.nav-bg-custom-alt{
  background-color: #F8F9FC;
  z-index: 999;
}

.nav-bg-custom{
  background-color: #fff;
  z-index: 999;
}

.vid-bg{
  background-image: url("assets/Assets/Home/SnowballHero.mp4");
}

.video-container {
  /* position: absolute;
  top: 9rem;
  left: 35rem;
  width: 59rem; */
  position: absolute;
  top: 0rem;
  left: 24rem;
  width: 70rem;
}

.z-id{
  z-index: 99;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.share-earn-banner-alt{
  background-image: url("assets/referral-share-earn.png");
  background-size: cover;
  background-repeat: round;
  border-radius: 2rem;
}

.share-earn-banner {
  justify-content: center;
  align-items: center;
  /* height: 30rem; */
  flex-shrink: 0;
  border-radius: 2rem;
  /* width: auto; */
  border-radius: 32px;
  background: linear-gradient(179deg, rgba(19, 91, 92, 0.64) 0%, rgba(74, 145, 152, 0.00) 100%), url("assets/referral-share-earn.png"), lightgray -8px -132px / 100.87% 217.5% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.faq-position{
  width: 70%;
}

.referral-banner-header {
  color: #FFF;
  text-align: center;
  width: 40.875rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
}

.referral-banner-sub {
  margin-top:2rem;
  color:#FFF;
  text-align: center;
  width: 39.125rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}

.referral-program-header{
  line-height: 2.1rem;
  font-weight: 600;
  font-size: 2.3rem;
  width: 32rem;
  color: white;
}

.explanation-text-header{
  color: #282D39;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
}

.explanation-ask-q-text{
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem; /* 137.5% */
  text-transform: uppercase;
}

.explanation-ask-q-button{
  width: 16.75rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border-radius: 1rem;
}

.explanation-image{
  height: 38rem;
  width: 23rem;
}

.explanation-text{
  margin-bottom: 1rem;
  width: 35rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: #414A5B;
}

.referral-rules-section-1 {
  /* width: 100%; */
  flex-shrink: 0;
  border-radius: 24px;
  background: #F5F8FA;
}

.referral-rules-section-1-text {
  color: #414A5B;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.referral-rules-section-1-text-small {
  color: #414A5B;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1rem;
}

.referral-rules-section-2 {
  border-radius: 24px;
  border: 1px solid #E6EBF4;
  background: #1B1E26;
  /* height: 20rem; */
}

.referral-rules-section-3 {
  width: 100%;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F5F8FA;
  padding: 1.5rem;
}

.referral-rules-explain-section {
  width: 100%;
  flex-shrink: 0;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
  padding: 1.375rem 0rem 1.625rem 0rem;
}

.referral-rules-explain-section-text {
  color: #414A5B;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.referral-rules-explain-section-arrow-img {
  height: 1.5rem;
  width: 1.5rem;
}

.referral-rules-explain-section-details {
  border-radius: 1.5rem;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
  background: #FFF;
}

.faq {
  display: flex;
  width: 100%;
  padding: 6.25rem 33.9375rem 7.5rem 33,9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 2rem;
  background: #F9FBFC;
}

.faq-items {
  border-radius: 16px;
  background: #FFF;
  /* Light shadow 3 */
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
}

.banner-card{
  width: 400px;
  height: 260px;
  background-color: #F9FBFC;
  border-radius: 15px;
  padding: 1.5rem;
}

.banner-card-icon{
  width: 64px;
  height: 64px;
}

.banner-card-heading{
  font-size: 32px;
  font-weight: 400;
  width: 222px;
  line-height: 40px;
}

.banner-card-heading-sub{
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 100;
  width: 242px;
  line-height: 20px;
}

.gradient-text{
  font-size: 74px;
  line-height: 1;
}

.article-gradient-text{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  width: 43rem;
}

.airdrop-text-gradient{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
  width: 14.25rem;
}

.d-bg{
  background-image: url('./assets/most_popular_network.png');
  background-size: contain;
  background-size: contain;
  height: 480px;
  padding: 4rem;
  margin-top: 5rem ;
  width: 100%;
  background-repeat: no-repeat;
}

.popular-network-text-header{
  font-weight: 400;
  font-size: 64px;
  width: 555px;
  line-height: 1
}

.popular-network-text-sub{
  font-weight: 200;
  font-size: 18px;
  width: 455px;
  line-height: 1.5;
}

.corner-image {
  position: absolute;
  bottom: -5rem;
  right: 0;
}

.most-popular-card-image{
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 3rem;
  max-height: 100%;
}

.most-popular-card{
  width: 580px;
  height: 410px;
  background-color: #F5F8FA;
  border-radius: 2.5rem;
}

.popular-card-text{
  width: 25.25rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.625rem;
}

.popular-card-text-sub{
  font-size: 1rem;
  color: #838B9D;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.download-section{
  background-image: none !important;
  background: #31353c;
}

.share-section-alt{
  height: 40rem !important;
}

.share-section-alt-n{
  display: flex
}

.share-section{
  display: grid;
  justify-content: center;
  /* width: 90%; */
  height: fit-content;
  flex-shrink: 0;
  /* background-color: #1B1E26; */
  background-image: radial-gradient(circle closest-side at 65% center, #079a6b, #1B1E26);

  border-radius: 2rem;
}

.center-container-alt{
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.share-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  background-color: #414A5B;
  border-radius: 2.5rem;
  width: 13rem;
}

.share-button-text{
  color: #FFF;
  /* font-family: Satoshi; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  text-transform: uppercase;
}

/* .sh-p-12-alt-n{
  padding: 7rem 20rem;
} */

.sh-p-12{
  padding: 3rem 9rem;
}

.sh-p-12-alt{
  padding: 3rem 5rem;
}

.share-section-header{
  color: #D9F9F8;
  font-size: 3.5rem;
  font-style: normal;
  width: 30rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.share-section-image{
  height: 35rem;
}

.share-section-image-alt{
  position: absolute;
  top: -6rem;
  order: 2;
  height: 45rem;
  width: 42rem;
}

.header-alt-1{
  width: auto !important;
}

.header-alt{
  color: #282D39;
  font-size: 3rem;
  width: 28rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
}

.header-alt-sub{
  color: #282D39;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.5rem;
}

.share-section-sub{
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
  width: 34.6875rem;
}

.share-section-button-alt-tr{
  background: transparent !important;
  border: 1px solid #414A5B !important;
}

.share-section-button-alt{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 13.75rem;
  height: 3.5rem;
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.share-button-text-alt{
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.buy-defi-heading{
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
  width: 385px;
}

.snowball-heading{
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
  width: 385px;
  display: contents;
}

.snowball-button{
  float: right;
  display: flex;
  width: 13.75rem;
  height: 3.5rem;
  padding: 1.0625rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid #E6EBF4;
  background: #FFF;
}

.snowball-button-text{
  color:#414A5B;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.snowball-media-lg{
  width: 33rem;
  height: 36.25rem;
  border-radius: 1.5rem;
}

.snowball-media-n-lg{
  width: 33rem;
  height: 17.125rem;
  border-radius: 1.5rem;
}

.snowball-media-1{
  background: url('./assets/Assets/Home/News/SnowballPodcast.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-media-2{
  background: url('./assets/Assets/Home/News/Snowball_Automating_Cryptocurrency_Investing.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-media-3{
  background: url('./assets/Assets/Home/News/Republic_Invest_in_Snowball_Money.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-media-sm{
  width: 21.5625rem;
  height: 21.5625rem;
  border-radius: 1.5rem;
}

.snowball-media-top-button{
  justify-content: center;
  display: inline-flex;
  width: 6.8rem;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background:#414A5B;
}

.snowball-media-top-button-text{
  color:#FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.snowball-media-bottom-text{
  color:#FFF;
  width: 31rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.snowball-media-bottom-text-n{
  color:#FFF;
  width: 24rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
}


.snowball-media-bottom-date{
  color:#FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.buy-defi-sub{
  display: flex;
  width: 35rem;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
}

.buy-defi-image{
  height: 40rem;
  width: 38rem;
  border-radius: 3rem;
}

.overlay{
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.buy-defi-button{
  display: inline-flex;
  padding: 0.75rem 6.8125rem 0.75rem 1.5rem;
  align-items: center;
  width: min-content;
  gap: 1rem;
  border-radius: 5.0035rem;
  border: 1px solid #E6EBF4;
  background:#F5F8FA;
}

.buy-defi-button-text{
  color:#414A5B;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.80125rem;
  letter-spacing: 0.004rem;
}

.bg-c-black{
  background: #1B1E26;
}

.concave-border {
  position: relative;
  border-radius: 0 0 60px 60px;
  padding: 20px;
}

.concave-border-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 60px 60px 0 0;
  padding: 20px;
  background: #fff;
}

.snowball-money-section{
  width: 23.75rem;
  height: 3.5rem;
  border-radius: 6.25rem;
  background: #282D39;
  justify-content: end;
  align-items: center;
  padding: 0.2rem;
}

.snowball-money-section-sub{
  width: 11.5625rem;
  height: 3rem;
  border-radius: 6.25rem;
  background: rgba(20, 22, 28, 0.60);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0px 0px 0px 0px black, -2px 1px 15px 0px black;
}

.snowball-money-button-text{
  color: white;
  font-size: 1rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.0125rem;
}

.snowball-money-button-text-alt{
  color: #00B9C2 !important;
}

.snowball-money-header{
  width: 28.1875rem;
  color:#D9F9F8;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
}

.snowball-money-sub{
  font-size: 1rem;
  color: white;
  width: 25.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.snowball-money-hash{
  color: #838B9D;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
}

.snowball-frame-1{
  height: 36.25rem;
  width: 100%;
  background: url('./assets/frame_1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-frame-2{
  height: 36.25rem;
  background: url('./assets/frame_2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-frame-h{
  height: 56rem;
}

.brand-header{
  display: flex;
  color: #282D39;
  width: 30rem;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
}

.brand-header-sub{
  width: 25rem;
  color: #282D39;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.brand-input-box{
  width: 34.125rem;
  height: 3rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: #F5F8FA;
}

.brand-input-box-alt{
  width: auto !important;
}

.brand-input-box-alt-1{
  height: auto !important;
}

.main-input-box{
  background: transparent;
  width: 100%;
  height: inherit;
}

.main-input-box:focus{
  outline: none !important;
}

.main-input-box:hover{
  outline: none !important;
}

.brand-button-alt{
  width: auto !important;
}

.brand-button{
  display: flex;
  width: 34.125rem;
  height: 3.5rem;
  padding: 1.00963rem 4.47706rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.brand-button-text{
  color:  #FFF;
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.brand-card{
  background-image: url('./assets/brand_card.png');
  display: grid;
  justify-content: center;
  width: 36.25rem;
  position: relative;
  height: 38.625rem;
}

.brand-card-button{
  position: absolute;
  right: 3rem;
  bottom: 5rem;
  width: 30.25rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: 1px solid #E6EBF4;
  background: #FFF;
}

.brand-card-button-text{
  color:  #414A5B;
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.download-img-position-alt{
  right: -1rem !important
}

.download-img-position{
  position: absolute;
  right: 8rem;
  bottom: 0rem;
}

.home-order-2-alt{
  order: 2
}

.home-order-1-alt{
  order: 1
}

.home-order-1{
  order: 1;
}

.home-order-2{
  order: 2;
}

.home-order-learn{
  order: 3;
}

.career-section{
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: url('./assets/Assets/Career/Career.png');
  border-radius: 2rem;
  background-size: contain;
  background-repeat: round;
}

.article-return-button{
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.60);
}

.article-section-p{
  padding-left: 23rem;
  margin-bottom: 4rem;
}

.article-text{
  width: 49rem;
  color: #282D39;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.article-sub-header{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 30rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
}

.article-main-header{
  width: 74.5rem;
  color:#282D39;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 6.625rem;
  letter-spacing: -0.03125rem;
}

.blog-post-card-date{
  color: #838B9D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}

.blog-post-card-header{
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

.blog-load-text{
  color: #414A5B;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem; 
  text-transform: uppercase;
}

.blog-load-button{
  display: flex;
  width: 13.75rem;
  height: 3.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #E6EBF4;
  background:#FFF;
}

.blog-tag-text{
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.blog-tag{
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E6EBF4;
}

.blog-post-card{
  /* width: 23.5rem; */
  height: 26rem;
  border-radius: 1.5rem;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
}

.blog-input-box{
  background: transparent;
  width: 15rem;
  color: #71747a;
}

.blog-input-box:focus{
  outline: none !important;
}

.blog-input-box:hover{
  outline: none !important;
}

.blog-search-icon{
  color: #838B9D
}

.blog-text-box{
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.625rem;
  background: #F5F8FA;
  width: 23.5rem;
  height: 3rem;
}

.blog-header{
  color: #282D39;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem; 
}

.post-item-bg{
  background: #F9FBFC;
  border-radius: 2rem;
}

.blog-section{
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: url('./assets/blog_image.png');
  border-radius: 2rem;
  background-size: auto;
  background-repeat: round;
}

.airdrop-frame{
  /* height: 55rem; */
  background-image: url('./assets/frame_4.png') !important;
}

.airdrop-section{
  background-image: url('./assets/Assets/Airdrop/Airdrop_Hero_Image.png') !important;
  background-size: contain;
  background-repeat: round;
}

.airdrop-icon-img{
  width: 4rem;
  height: 4rem;
}

.airdrop-banner-header{
  color: white !important;
}

.airdrop-img{
  width: 35rem;
  /* background-color: transparent !important; */
  border-radius: 1.3rem;
}

.airdrop-card-alt{
  width:35rem;
  /* height: 53.9375rem; */
  border-radius: 2rem;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
}

.airdrop-campaign-header{
  color: #282D39;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
}

.airdrop-card{
  width: 17rem;
  height: 17rem;
  border-radius: 2rem;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
}

.airdrop-header{
  width: 29.25rem;
}

.airdrop-header-sub{
  width: 29.25rem;
  color: #282D39;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
}

.footer-logo-d{
  width: 9.5625rem;
  height: 3.25rem;
}

.career-banner-header{
  color: #282D39;
  text-align: center;
  width: 40.875rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
}

.career-banner-sub{
  margin-top:2rem;
  color:#282D39;
  text-align: center;
  width: 39.125rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}

.career-world-img{
  position: absolute;
  right: 0;
  top: 16rem;
}

.career-heading{
  color: #282D39;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
}

.career-heading-sub{
  color: #414A5B;
  width: 32rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.375rem;
}

.z-down{
  z-index: 1;
}

.z-up{
  z-index: 99;
  position: sticky;
}

.career-button{
  display: flex;
  width: 13rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.career-button-text{
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.perk-card{
  width: 23.5rem;
  height: 18rem;
  border-radius: 1.5rem;
  background: #F9FBFC;
}

.perk-card-header{
  color: #282D39;
  font-size: 2rem;
  width: 14rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
}

.perk-card-sub{
  color: #838B9D;
  width: 18rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.role-card{
  width: 36rem;
  height: 12rem;
  border-radius: 1.5rem;
  padding: 2rem;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
}

.role-card-info-text{
  color: #414A5B;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.role-card-info{
  border-radius: 2.5rem;
  background: #D9F9F8;
  height: 1.5rem;
  width: fit-content;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-card-info-date{
  color:#838B9D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.role-card-info-name{
  width: 23rem;
  color: #282D39;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
}

.role-card-info-extra{
  color:#838B9D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  position: absolute;
  bottom: 0.5rem;
}

.dialog-box-alt-2{
  border-radius: 2rem;
  width: 45.75rem;
  /* height: 45rem; */
  padding: 2.5rem;
}

.dialog-box-alt{
  border-radius: 2rem;
  width: 40.75rem;
  padding: 2.5rem;
  height: 35rem;
}

.dialog-box{
  border-radius: 2rem;
  width: 61.75rem;
  padding: 2.5rem;
}

.submit-application-button{
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.thank-you-note{
  width: 25.6875rem;
  color: #282D39;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
}

.share-img-sm{
  width: 35rem;
  height: 30rem;
}

.thank-you-note-sub{
  color: #414A5B;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.375rem;
}

.airdrop-order-1{
  order: 1
}

.referral-program-sub-text-color{
  color: #00B9C2 !important;
}

.faqs-other-questions {
  width: 100%;
  height: auto;
  border-radius: 16px;
  border: 1px solid var(--main-medium-gray, #E6EBF4);
  background: var(--main-light-gray, #F5F8FA);
  padding: 0.8rem;
}

.faqs-other-questtions-txt {
  color: var(--dark-ui-main-dark-overlay, #282D39);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.faqs-other-questions-btn {

  color: var(--main-primary-black, #414A5B);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.home-card-scroll{
  height: auto; /* Adjust the height as needed */
  overflow: auto;
  overflow-x: hidden; 
}

@media screen and (max-width: 768px) {
  .article-main-header {
    width: 20.5rem;
    color: #282D39;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.625rem;
    letter-spacing: -0.03125rem;
  }

  .article-sub-header {
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
  }

  .article-text{
    width: 20rem;
  }

  .article-section-p {
    padding-left: 2rem;
    margin-bottom: 4rem;
  }

  .blog-post-card-header{
    width: 18rem;
  }

  .blog-text-box{
    width: auto;
  }

  .blog-post-card{
    width: 20rem;
  }

  .blog-header{
    font-size: 3rem;
  }

  .explanation-text{
    width: auto;
  }

  .referral-banner-header{
    width: auto;
    font-size: 3rem;
  }

  .referral-banner-sub{
    margin-top: 2rem;
    color: #FFF;
    text-align: center;
    width: 21.125rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
  }

  .referral-program-image-card{
    height: 11rem;
  }

  .referral-program-image{
    width: 18rem;
  }

  .referral-program-header {
    line-height: 2.1rem;
    font-weight: 600;
    font-size: 1.5rem;
    width: 14rem;
    color: white;
  }

  .referral-rules-section-1-text {
    color: #414A5B;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    width: 16rem;
  }

  .thank-you-note{
    width: 15rem;
  }
  
  .scrollable-div {
    height: 200px;
    width: 300px;
    overflow: auto;
    padding: 10px;
  }

  .dialog-box{
    border-radius: 2rem;
    width: auto;
    padding: 2.5rem;
  }

  .header-alt{
    color: #282D39;
    font-size: 2rem;
    width: auto;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
  }

  .share-section-image-alt{
    position: relative;
    top: -6rem;
    order: 2;
    height: 30rem;
    width: auto;
  }

  .airdrop-order-1{
    order: 2
  }

  .airdrop-campaign-header{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.003rem;
    width: 15.125rem;
  }

  .sh-p-12-alt{
    padding: 3rem 0rem
  }

  .career-section{
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .sh-p-12-alt-n{
    padding: 3rem 1rem;
    height: 30rem;
  }

  .sh-p-12-alt-r{
    padding: 3rem 0rem;
  }

  .airdrop-header-sub{
    width: 18.0625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.25rem;
  }

  .airdrop-img{
    width: 20rem
  }

  .airdrop-header{
    width: 16rem
  }

  .career-heading{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
  }
  .career-banner-header{
    font-size: 2.5rem;
    font-style: normal;
    width: 20.0625rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
  }

  .career-banner-sub{
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 20.1875rem;
    justify-content: center;
  }

  .home-banner{
    height: auto;
  }

  .share-section-alt-n{
    display: flex
  }

  .share-section{
    width: 90%;
    /* display: flex */
  }

  .airdrop-card-alt{
    width: inherit
  }

  .home-order-1{
    order: 2;
  }

  .home-order-2{
    order: 1;
  }

  .snowball-media-bottom-text-n{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.0075rem;
    width: 17.5rem;
  }

  .snowball-money-section{
    width: 21.75rem
  }

  .brand-input-box{
    width: 21.5625rem;
  }

  .brand-button{
    width: auto
  }

  .brand-input-box-alt-2{
    width: 16rem !important;
  }

  .brand-header-sub{
    width: 17.5625rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .brand-header{
    width: 21.5625rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
  }

  .snowball-money-sub{
    width: 18.75rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .snowball-money-hash{
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
  }

  .snowball-money-header{
    width: auto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
  }

  .snowball-frame-h{
    height: auto
  }

  .snowball-media-bottom-text{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.0075rem;
    width: 14.5rem;
  }  

  .d-bg{
    background-image: url('./assets/airdrop_alt.png');
    background-size: contain;
    background-size: contain;
    height: 21rem;
    margin-top: 2rem ;
    width: 100%;
    background-repeat: no-repeat;
  }

  .most-popular-card{
    width: 21rem;
    height: 21rem;
    background-color: #F5F8FA;
    border-radius: 2.5rem;
  }

  .popular-card-text-sub-alt{
    padding: 0 2rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 15.875rem;
    color: #838B9D;
  }

  .most-popular-card-image{
    top: 0;
    right: 0;
    width: 13rem;
  }

  .popular-card-text-sub{
    padding: 0 2rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 13.9375rem;
    color: #838B9D;
  }
  
  .popular-card-text{
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.0075rem;
  }

  .banner-card-heading{
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .gradient-text{
    font-size: 2.5rem;
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: -0.03125rem;
  }

  .banner-card-heading-sub{
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  .video-container{
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }

  .banner-card{
    width: 18rem;
    height: 13rem;
    margin-right: 2rem;
    background-color: #F9FBFC;
    border-radius: 15px;
    padding: 1.5rem;
  }

  .banner-text{
    margin-left: 2rem;
    width: 15rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    color: #282D39;
  }

  .banner-sub-text{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.25rem;
    width: 18rem;
  }

  .home-store-button{
    width: 10rem;
    height: 3rem;
  }

  .share-section-header{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.0075rem;
  }

  .share-section-sub{
    color: #FFF;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 18rem
  }

  .buy-defi-heading{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
    width: 16.5rem
  }

  .buy-defi-sub{
    width: 21rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .buy-defi-button{
    width: 10rem
  }

  .buy-defi-image{
    height: auto;
    width: auto;
  }

  .snowball-media-lg{
    width: 21rem;
    height: 21rem
  }

  .buy-defi-button-text{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 0.0075rem;
  }

  .snowball-heading{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: 0.005rem;
    width: 14rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .snowball-media-n-lg{
    width: 21rem;
    height: 21rem
  }

  .share-img-sm{
    width: 19rem;
    height: 20rem;
  }

  .share-img-p-l{
    padding-left: 1rem
  }

  .brand-card{
    background-image: url('./assets/brand_card_alt.png');
    display: grid;
    justify-content: center;
    width: 21.5625rem;
    height: 32.4375rem;
    position: relative;
  }
  
  .brand-card-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    width: max-content;
    padding: 1rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: 1px solid #E6EBF4;
    background: #FFF;
  }

  .download-img-position{
    right: 0;
  }

  .sh-p-12{
    padding: 1rem 1rem
  }

  .golden-image{
    width: 7.19513rem;
  }

  .share-section-header{
    color: #D9F9F8;
    font-size: 1.5rem;
    font-style: normal;
    width: 10rem;
    font-weight: 400;
    line-height: 1.75rem;
  }
  
  .home-store-button{
    width: 10rem;
    height: 3rem;
  }

  .share-section-image{
    height: 24rem;
    width: 10rem;
    border-radius: 2rem;
  }

  .footer-logo-d{
    width: 9.5625rem;
    height: 3.25rem;
  }

  .career-text-container{
    margin: 5rem auto;
    padding: 0rem 2rem;
    position: relative;
  }

  .perk-card{
    width: auto;
  }

  .career-heading-sub{
    width: 20rem;
  }

  .role-card{
    width: auto;
  }

  .role-card-info-name{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    width: 15rem;
  }
}
/* 
@media (min-width: 1201px) {
  .share-section-header{
    color: #D9F9F8;
    font-size: 8.5rem;
    font-style: normal;
    width: 70rem;
    font-weight: 400;
    line-height: 8.75rem;
  }
}


@media (min-width: 993px) and (max-width: 1200px) {
  .share-section-header{
    color: #D9F9F8;
    font-size: 4.5rem;
    font-style: normal;
    width: 70rem;
    font-weight: 400;
    line-height: 8.75rem;
  }
} */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .article-section-p {
    padding-left: 2rem;
    margin-bottom: 4rem;
  }

  .article-text{
    width: 45rem;
  }

  .article-sub-header{
    line-height: 2.5rem;
  }

  .article-main-header {
    width: 45.5rem;
    color: #282D39;
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.625rem;
    letter-spacing: -0.23125rem;
  }

  .blog-header{
    font-size: 3rem;
  }

  .referral-rules-section-1-text{
    width: auto;
  }
  .referral-banner-header{
    font-size: 3rem;
  }

  .faq-position{
    width: 100%;
  }

  .referral-rules-section-1-text-n {
    color: #414A5B;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
  }

  .referral-program-header {
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.3rem;
    width: 18rem;
    color: white;
  }
  

  .role-card-info-name{
    width: 17rem;
    color: #282D39;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
  }
  .career-text-container{
    margin: 3rem 0px;
    padding: 0px 10rem;
    position: relative;
  }

  .role-card{
    width: auto;
  }

  .career-heading-sub{
    width: 20rem;
  }

  .career-world-img{
    position: absolute;
    right: 0;
    top: 7rem;
  }

  .nav-items-margin{
    margin-left: 5%;
  }

  .airdrop-header-alt{
    width: 20rem !important
  }

  .popular-card-text-sub{
    padding: 0 3rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 20.9375rem;
    color: #838B9D;
  }

  .share-section-image-alt{
    position: relative;
    top: 0rem;
    order: 1;
    height: 45rem;
    width: auto;
  }

  .brand-input-box-alt{
    width: auto !important
  }

  .airdrop-order-1{
    order: 2
  }
/*   
  .popular-card-text{
    padding: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.0075rem;
  } */

  .gradient-text{
    font-size: 2.5rem;
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: -0.03125rem;
  }

  .sh-p-12{
    padding: 1rem 3rem
  }

  .home-order-1{
    order: 2
  }

  .home-order-2{
    order: 1;
  }

  .banner-text{
    margin-left: 2rem;
    width: 15rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    color: #282D39;
  }

  .banner-sub-text{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.25rem;
    width: 18rem;
  }

  .video-container{
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }

  .download-img-position{
    right: 0;
  }

  .share-section-image{
    border-radius: 2rem
  }

  .footer-logo-d{
    width: 10.5625rem;
    height: 4.25rem;
  }

  .share-section-header{
    color: #D9F9F8;
    font-size: 1.5rem;
    font-style: normal;
    width: 10rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .share-section-sub{
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: 2rem;
    width: 19.6875rem;
  }

  .home-store-button{
    width: 10rem;
    height: 3rem;
  }

  .career-banner-sub{
    font-size: 0.8rem
  }

  .airdrop-img{
    width: 15rem
  }

  .career-heading{
    color: #282D39;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem;
  }

  .airdrop-header {
    width: 25.25rem;
  }

  .sh-p-12-alt{
    padding: 3rem 0rem;
  }
  .airdrop-header-sub{
    width: 21.25rem;
    color: #282D39;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 200;
    line-height: 2rem;
  }

  .career-banner-header{
    font-size: 3rem;
    width: 30.875rem;
  }
}


@keyframes fade{
  from{
    opacity:0.4;
  }
  to{
    opacity:1;
  }
}

#slider{
  overflow:hidden;
  display: block;
}

.slides{
  overflow:hidden;
  animation-name:fade;
  animation-duration:1s;
  display:none;
}

#dot{
  margin:0 auto;
  text-align:center;
}
.dot{
  display:inline-block;
  border-radius:50%;
  background:#d3d3d3;
  padding:8px;
  margin:10px 5px;
}

@media (max-width:567px){
  #slider{
    width:100%;

  }
}