@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satoshi:ital,wght@0,400;0,500;0,700;1,700&display=swap");

.container {
  @apply m-auto max-w-screen-xl p-4
}

.text-container{
  display: flex;
  justify-content: center;
}

.mini-nav-card{
  text-align: center;
  border-radius: 25px;
  padding: 8px 15px;
  background: #1B1E26;
}

div.nav-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 25px;
  padding: 8px 30px;
}

.nav-bar-text{
  font-size: 16px;
  color: #414A5B;
  width: max-content;
}

.banner-text{
  font-size: 75px;
  font-weight: 600;
  width: 567px;
  line-height: 5rem; 
  color: #282D39;
}

.banner-sub-text{
  margin-top: 1rem;
  font-size: 25px;
  width: 567px;
  font-weight: 100;
  color: #282D39;
}

.vertical-hr {
  width: 1px;
  height: 25px;
  background-color: #fff;
}

.nav-items-margin{
  margin-left: 15%;
}

.footer-color{
  background-color: #F9FBFC;
  border-radius: 45px 45px 0 0;
}

.home-banner{
  background-color: #F8F9FC;
  height: 750px;
}

.nav-bg-custom{
  background-color: #F8F9FC;
}

.share-earn-banner {
  /* background-image: url("assets/referral-share-earn.png"); */
  /* border-radius: 1.5rem; */
  height: auto;
  width: auto;
  border-radius: 32px;
  background: linear-gradient(179deg, rgba(19, 91, 92, 0.64) 0%, rgba(74, 145, 152, 0.00) 100%), url("assets/referral-share-earn.png"), lightgray -8px -132px / 100.87% 217.5% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.faq {
  display: flex;
  width: 100%;
  padding: 6.25rem 33.9375rem 7.5rem 33,9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 2rem;
  background: #F9FBFC;
  margin-bottom: 8rem;
}

.faq-items {
  border-radius: 16px;
  background: #FFF;
  /* Light shadow 3 */
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.40);
}

.banner-card{
  width: 400px;
  height: 260px;
  background-color: #F9FBFC;
  border-radius: 15px;
  padding: 1.5rem;
}

.banner-card-icon{
  width: 64px;
  height: 64px;
}

.banner-card-heading{
  font-size: 32px;
  font-weight: 400;
  width: 222px;
  line-height: 40px;
}

.banner-card-heading-sub{
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 100;
  width: 242px;
  line-height: 20px;
}

.gradient-text{
  font-size: 80px;
  line-height: 1;
}

.d-bg{
  background-image: url('./assets/most_popular_network.png');
  background-size: contain;
  background-size: contain;
  height: 480px;
  padding: 4rem;
  margin-top: 5rem ;
  width: 100%;
  background-repeat: no-repeat;
}

.popular-network-text-header{
  font-weight: 400;
  font-size: 64px;
  width: 555px;
  line-height: 1
}

.popular-network-text-sub{
  font-weight: 200;
  font-size: 18px;
  width: 455px;
  line-height: 1.5;
}

.corner-image {
  position: absolute;
  bottom: -5rem;
  right: 0;
}

.most-popular-card-image{
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 3rem;
  max-height: 100%;
}

.most-popular-card{
  width: 580px;
  height: 410px;
  background-color: #F5F8FA;
  border-radius: 2.5rem;
}

.popular-card-text{
  width: 25.25rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.625rem;
}

.popular-card-text-sub{
  font-size: 1rem;
  color: #838B9D;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.download-section{
  background-image: none !important;
  background: #31353c;
}

.share-section{
  display: grid;
  justify-content: center;
  width: 90%;
  height: 36.25rem;
  flex-shrink: 0;
  /* background-color: #1B1E26; */
  background-image: radial-gradient(circle closest-side at 65% center, #079a6b, #1B1E26);

  border-radius: 2rem;
}

.center-container-alt{
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.share-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  background-color: #414A5B;
  border-radius: 2.5rem;
  width: 13rem;
}

.share-button-text{
  color: #FFF;
  /* font-family: Satoshi; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.sh-p-12{
  padding: 0 8rem;
}

.share-section-header{
  color: #D9F9F8;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
}

.share-section-sub{
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
  width: 34.6875rem;
}

.share-section-button-alt-tr{
  background: transparent !important;
  border: 1px solid #414A5B !important;
}

.share-section-button-alt{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 13.75rem;
  height: 3.5rem;
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.share-button-text-alt{
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.buy-defi-heading{
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
  width: 385px;
}

.snowball-heading{
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
  width: 385px;
  display: contents;
}

.snowball-button{
  float: right;
  display: flex;
  width: 13.75rem;
  height: 3.5rem;
  padding: 1.0625rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid #E6EBF4;
  background: #FFF;
}

.snowball-button-text{
  color:#414A5B;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.snowball-media-lg{
  width: 30rem;
  height: 36.25rem;
  border-radius: 1.5rem;
}

.snowball-media-n-lg{
  width: 33rem;
  height: 17.125rem;
  border-radius: 1.5rem;
}

.snowball-media-1{
  background: url('./assets/podcast.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-media-2{
  background: url('./assets/man.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-media-3{
  background: url('./assets/investor.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-media-sm{
  width: 21.5625rem;
  height: 21.5625rem;
  border-radius: 1.5rem;
}

.snowball-media-top-button{
  justify-content: center;
  display: inline-flex;
  width: 6.8rem;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background:#414A5B;
}

.snowball-media-top-button-text{
  color:#FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.snowball-media-bottom-text{
  color:#FFF;
  width: 31rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.snowball-media-bottom-text-n{
  color:#FFF;
  width: 24rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
}


.snowball-media-bottom-date{
  color:#FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.buy-defi-sub{
  display: flex;
  width: 35rem;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
}

.buy-defi-image{
  height: 40rem;
  width: 28rem;
}

.buy-defi-button{
  display: inline-flex;
  padding: 0.75rem 6.8125rem 0.75rem 1.5rem;
  align-items: center;
  width: min-content;
  gap: 1rem;
  border-radius: 5.0035rem;
  border: 1px solid #E6EBF4;
  background:#F5F8FA;
}

.buy-defi-button-text{
  color:#414A5B;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.80125rem;
  letter-spacing: 0.004rem;
}

.bg-c-black{
  background: #1B1E26;
}

.concave-border {
  position: relative;
  border-radius: 0 0 60px 60px;
  padding: 20px;
}

.concave-border-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 60px 60px 0 0;
  padding: 20px;
  
}

.snowball-money-section{
  width: 23.75rem;
  height: 3.5rem;
  border-radius: 6.25rem;
  background: #282D39;
  justify-content: end;
  align-items: center;
  padding: 0.2rem;
}

.snowball-money-section-sub{
  width: 11.5625rem;
  height: 3rem;
  border-radius: 6.25rem;
  background: rgba(20, 22, 28, 0.60);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0px 0px 0px 0px black, -2px 1px 15px 0px black;
}

.snowball-money-button-text{
  color: white;
  font-size: 1rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.0125rem;
}

.snowball-money-button-text-alt{
  color: #00B9C2 !important;
}

.snowball-money-header{
  width: 28.1875rem;
  color:#D9F9F8;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
}

.snowball-money-sub{
  font-size: 1rem;
  color: white;
  width: 25.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.snowball-money-hash{
  color: #838B9D;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
}

.snowball-frame-1{
  height: 36.25rem;
  width: 100%;
  background: url('./assets/frame_1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-frame-2{
  height: 36.25rem;
  background: url('./assets/frame_2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.snowball-frame-h{
  height: 56rem;
}

.brand-header{
  display: flex;
  color: #282D39;
  width: 30rem;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem;
}

.brand-header-sub{
  width: 25rem;
  color: #282D39;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.brand-input-box{
  width: 34.125rem;
  height: 3rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: #F5F8FA;
}

.brand-input-box-alt{
  width: auto !important;
}

.main-input-box{
  background: transparent;
  width: 100%;
}

.main-input-box:focus{
  outline: none !important;
}

.main-input-box:hover{
  outline: none !important;
}

.brand-button{
  display: flex;
  width: 34.125rem;
  height: 3.5rem;
  padding: 1.00963rem 4.47706rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  background: linear-gradient(49deg, #2DDCBD 0%, #00B9C2 100%);
}

.brand-button-text{
  color:  #FFF;
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.brand-card{
  background-image: url('./assets/brand_card.png');
  display: grid;
  justify-content: center;
  width: 36.25rem;
  position: relative;
  height: 38.625rem;
}

.brand-card-button{
  position: absolute;
  right: 3rem;
  bottom: 5rem;
  width: 30.25rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: 1px solid #E6EBF4;
  background: #FFF;
}

.brand-card-button-text{
  color:  #414A5B;
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.download-img-position{
  position: absolute;
  right: 8rem;
  bottom: 0rem;
}

.iphone-screen-rules {
  background: url("assets/iPhone_14_Pro_Device.png"), lightgray 50% / cover no-repeat;
  display: flex;
  flex-shrink: 0;
}

